@{
    ViewData["Title"] = "Liste des personnes S";
}
@using Isen.Dotnet.Library.Model;
@model IEnumerable<Personne>;
<div>
    <h1>Liste <small>des personnes</small></h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Role</th>
                <th scope="col">Service</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var personne in Model)
            {
            <tr>
                <th scope="row">@personne.Id</th>
                <td>@personne.Nom</td>
                <td>@personne.RolePersonne?.NomRole</td>
                <td>@personne.ServicePersonne?.NomService</td>
              
                <td>
                    <a class="btn btn-outline-primary"
                        asp-controller="Personne"
                        asp-action="Edit"
                        asp-route-id="@personne.Id">Modifier</a>
                    <a class="btn btn-outline-danger"
                        asp-controller="Personne"
                        asp-action="Delete"
                        asp-route-id="@personne.Id">Supprimer</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>